@use './variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family;
  background-color: $gray-50;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

// Global utility for containers
.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @media (min-width: $tablet) {
    max-width: 1024px;
  }
}